{% extends 'header.html' %} {% block content %}
<main>
    <h1 class="text-center">Buscador de Pokemon</h1>

    <div class="d-flex justify-content-center" style="margin-bottom: 1%">
        <!-- Buscador del sitio -->
        <form class="d-flex" action="{% url 'buscar' %}" method="POST">
            {% csrf_token %}
            <input class="form-control me-2" type="search" name="query" placeholder="Pikachu, Charizard, Ditto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>

    <div class="d-flex gap-1 col-2 mx-auto mb-3">
        <form method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="fire">
            <button type="submit" class="btn btn-danger">FUEGO</button>
        </form>

        <form method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="water">
            <button type="submit" class="btn btn-primary">AGUA</button>
        </form>

        <form method="post" action="{% url 'filter_by_type' %}">
            {% csrf_token %}
            <input type="hidden" name="type" value="grass">
            <button type="submit" class="btn btn-success">PLANTA</button>
        </form>
    </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if images|length == 0 %}
        <h2 class="text-center">La búsqueda no arrojó resultados...</h2>
        {% else %} {% for img in images %}
        <div class="col">
            <!-- evaluar si la imagen pertenece al tipo fuego, agua o planta -->
            <div class="card 
                {% if 'fire' in img.types %}
                    border-danger
                {% elif 'water' in img.types %}
                    border-primary
                {% elif 'grass' in img.types %}
                    border-success
                {% else %}
                    border-warning
                {% endif %} 
                mb-3 ms-5" style="max-width: 540px; ">
                 <div class="row g-0">
                     <div class="col-md-4">
                         <img src="{{ img.image }}" class="card-img-top"alt="imagen">
                     </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <span class="pokemon-name">{{ img.name }}</span> #{{ img.id }} <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" alt="Master Ball"></h3>
                                <div class="mb-2">
                                    {% for poketype in img.types %}
                                        {% if poketype == 'fire' %}
                                            <span style="background-color: #F08030; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'water' %}
                                            <span style="background-color: #6890F0; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'grass' %}
                                            <span style="background-color: #78C850; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'poison' %}
                                            <span style="background-color: #A040A0; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'bug' %}
                                            <span style="background-color: #A8B820; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'flying' %}
                                            <span style="background-color: #A890F0; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'normal' %}
                                            <span style="background-color: #A8A878; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'electric' %}
                                            <span style="background-color: #F8D030; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% elif poketype == 'ground' %}
                                            <span style="background-color: #E0C068; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% else %}
                                            <span style="background-color: gray; color: white; padding: 4px 8px; border-radius: 8px; margin-right: 4px;">
                                                {{ poketype|title }}
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            <p class="card-text"><small class="text-body-secondary">Altura: {{ img.height }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Peso: {{ img.weight }}</small></p>
                            <p class="card-text"><small class="text-body-secondary">Nivel de experiencia base: {{ img.base }}</small></p>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'agregar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="name" value="{{ img.name }}">
                                <input type="hidden" name="height" value="{{ img.height }}">
                                <input type="hidden" name="weight" value="{{ img.weight }}">
                                <input type="hidden" name="types" value="{{ img.types }}">
                                <input type="hidden" name="image" value="{{ img.image }}"> {% if img.name in favourite_list %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white" disabled>✔️ Favoritos</button> {% else %}
                                <button type="submit" class="btn btn-primary btn-sm float-left" style="color:white">❤️ Favoritos</button> {% endif %}
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</main>
{% endblock %}
